#html {
    background-color: rgb(79, 164, 255);
    color: rgb(0, 0, 0,0.8);
}
#html.active {

    background-color: rgb(131, 231, 179);
}
#html.lose {
    background-color: crimson;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    text-wrap: nowrap;
}

header {
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}
footer {
    z-index: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    background-color: rgb(0, 0, 0);
    gap: 1em;
    font-size: 0.5em;
}
.logo{
    filter: brightness(100);
    width: 60px;
    height: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 59.5px - 75px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


input {

    width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}



.window {
    margin: 40px;
    padding: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    width: fit-content;
}


button , .newgame{
    position: relative;
    font-size: 17px;
    width: 220px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 2em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
   }
   

a {
    text-decoration: none;
    color: black;
}

.newgame {
    border-radius: 50px;
 
    padding: 0.5em 3em;

}

#again {
    display: none;
}

#again.active {
    display: block;
}

#title.active {
    display: none;
}

form.active {
    display: none;
}
#window__guesses.active{
    display: none;
}
@media (max-width:768px) {
    h1{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.2em;
    }
    .window {
        padding: 4em;
    }
    #str{
        font-size: 0.9em
    }

}
@media (max-width:425px) {
  
    .window {
        padding: 2em;
    }
}
@media (hover:hover){
    .window:hover {
        box-shadow: 0px 0px 20px 1px #0000003f;
        border: 1px solid rgba(255, 255, 255, 0.454);
    }
    
    button:hover, .newgame:hover {
    
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
       }
       
       button:active , .newgame:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       }
       
       button::after , .newgame::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: rgba(255, 255, 255, 0.5);
       }
    input:hover {
        border: 2px solid lightgrey;
        box-shadow: 0px 0px 20px -17px;
    }
    
    input:active {
        transform: scale(0.95);
    }
    
    input:focus {
        border: 2px solid grey;
    }
    button:hover::after , .newgame:hover::after{
        transform: scaleX(1.1) scaleY(1.6);
        opacity: 0;
       }

}
